__pycache__/

.DS_Store

# Virtual environments
**/.env
.env/
.venv/
venv/
env/

# VSCode settings
.vscode/
data/
# Docker
**/__pycache__/
**/*.pyc
*.db

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
