dotenv
requests
langchain
langchain-core
langchain-openai
langchain-chroma
streamlit
chromadb-client
langchain_text_splitters
langchain-community
unstructured
unstructured[md]
jq
fastapi
uvicorn
pyyaml
ragas
sentence-transformers